# SI 618    HW1

- Name: Sijun Tao
- Uniquename: sijuntao

In [1]:
import numpy as np
import pandas as pd

<hr style="border: 1px solid #003262;" />

## Q1

In [2]:
data = pd.read_csv("book_data.csv")
data

,book_authors,book_desc,book_edition,book_format,book_isbn,book_pages,book_rating,book_rating_count,book_review_count,book_title,genres,image_url
0,Kristin Hannah,"Alaska, 1974.Unpredictable. Unforgiving. Untam...",NaN,Kindle Edition,NaN,435 pages,4.33,146505,17438,The Great Alone,Fiction|Historical|Historical Fiction|Audioboo...,https://images.gr-assets.com/books/1501852423l...
1,Madeline Miller,"In the house of Helios, god of the sun and mig...",NaN,Hardcover,9.780000e+12,393 pages,4.34,61357,9369,Circe,Fantasy|Fiction|Fantasy|Mythology|Historical|H...,https://images.gr-assets.com/books/1508879575l...
2,Holly Black,Of course I want to be like them. They’re beau...,NaN,Hardcover,9.780000e+12,370 pages,4.18,62897,11948,The Cruel Prince,Fantasy|Young Adult|Fairies|Fae,https://images.gr-assets.com/books/1493047153l...
3,A.J. Finn,Anna Fox lives alone—a recluse in her New York...,NaN,Kindle Edition,NaN,449 pages,3.97,175678,20645,The Woman in the Window,Mystery|Thriller|Fiction|Suspense|Thriller|Mys...,https://images.gr-assets.com/books/1528225499l...
4,Tara Westover,An unforgettable memoir in the tradition of Th...,NaN,Hardcover,9.780000e+12,334 pages,4.47,128337,16424,Educated,Nonfiction|Autobiography|Memoir|Biography,https://images.gr-assets.com/books/1506026635l...
...,...,...,...,...,...,...,...,...,...,...,...,...
1136,Alyssa Brandon,A teen werewolf finally meets her destined sou...,NaN,Hardcover,9.780000e+12,304 pages,3.33,359,88,Bound to You,Fantasy|Paranormal|Romance|Fantasy|Shapeshifte...,https://images.gr-assets.com/books/1508489753l...
1137,Crystal Hana Kim,"An emotionally riveting debut novel about war,...",NaN,Hardcover,9.780000e+12,417 pages,3.69,1255,259,If You Leave Me,Historical|Historical Fiction|Fiction|Historic...,https://images.gr-assets.com/books/1508962755l...
1138,Leslie Cohen,This is the classic tale of boy meets girl: Gi...,NaN,Kindle Edition,NaN,320 pages,3.40,1300,272,This Love Story Will Self-Destruct,Romance|Fiction|Womens Fiction|Chick Lit|Conte...,https://images.gr-assets.com/books/1503757123l...
1139,Sarah Beth Durst,The battle between vicious spirits and strong-...,NaN,Hardcover,9.780000e+12,419 pages,3.86,907,205,The Queen of Sorrow,Fantasy|Young Adult|Adult,https://images.gr-assets.com/books/1513185111l...
1140,Nisha Sharma,Winnie Mehta was never really convinced that R...,NaN,Hardcover,9.780000e+12,304 pages,3.64,1322,395,My So-Called Bollywood Life,Young Adult|Contemporary|Romance|Fiction|Young...,https://images.gr-assets.com/books/1510586092l...

<hr style="border: 1px solid #003262;" />

## Q2

In [3]:
q2_a = pd.DataFrame(data['book_title'].value_counts())
# q2[q2['book_title']>1]
q2_a1 = q2_a[q2_a['book_title']>1]
q2_a = q2_a1.shape[0]
q2_a1 = q2_a1['book_title'].sum()-len(q2_a1)

print("\033[31mq2_a: \033[0m" + f"There are {q2_a1} duplicated records. There are {q2_a} books that have duplicate records in the data. One book has 3 records, and 14 books have 2 records each.")

q2_a: There are 16 duplicated records. There are 15 books that have duplicate records in the data. One book has 3 records, and 14 books have 2 records each.

In [4]:
data = data.drop_duplicates('book_title')
q2_b = data['book_title'].shape[0]

print("\033[31mq2_b: \033[0m" + f"After removing the duplicate entries from the data, there are {q2_b} unique books.")

q2_b: After removing the duplicate entries from the data, there are 1125 unique books.

<hr style="border: 1px solid #003262;" />

## Q3

In [5]:
# q3 is a series that represents the count of '|' in each blank of book_authors
q3 = data['book_authors'].str.count("\|").value_counts()[2]

print("\033[31mq3: \033[0m" + f"There are {q3} books have exactly 3 authors.")

q3: There are 16 books have exactly 3 authors.

<hr style="border: 1px solid #003262;" />

## Q4

In [6]:
data = data.copy()
data['page_number'] = data["book_pages"].str.split().str[0]
data = data[ ~ data['page_number'].isnull()]
data['page_number'] = data["page_number"].astype(int)
q4 = data.shape[0]

print("\033[31mq4: \033[0m" + f"After creating a new column with the integer value of the number of pages, I remove the rows with NaN value of page number. The reason why I remove them is that one book must have positive page number. If the page number is NaN, this record must be wrong. After removing, there are {q4} records.")

q4: After creating a new column with the integer value of the number of pages, I remove the rows with NaN value of page number. The reason why I remove them is that one book must have positive page number. If the page number is NaN, this record must be wrong. After removing, there are 1056 records.

<hr style="border: 1px solid #003262;" />

## Q5

In [7]:
q5 = data['page_number'].median()

print("\033[31mq5: \033[0m" + f"The median number of pages is {q5}. ")

q5: The median number of pages is 326.5.

<hr style="border: 1px solid #003262;" />

## Q6

In [8]:
q6_min = data['page_number'].min()
q6_max = data['page_number'].max()

print("\033[31mq6: \033[0m" + f"The minimum number of pages is {q6_min}.\n The maximum number of pages is {q6_max}. ")

q6: The minimum number of pages is 0.
 The maximum number of pages is 992.

<hr style="border: 1px solid #003262;" />

## Q7

In [9]:
q7_1_auth = data[data['book_authors'].str.count("\|") == 0]['page_number'].mean()
q7_2_auth = data[data['book_authors'].str.count("\|") == 1]['page_number'].mean()
q7_3_auth = data[data['book_authors'].str.count("\|") == 2]['page_number'].mean()

print("\033[31mq7: \033[0m" + f"The average number of pages for books written by a single author is {q7_1_auth}.\n The average number of pages for books written by two authors is {q7_2_auth}.\n The average number of pages for books written by three authors is {q7_3_auth}.\n \n Roughly, the average number of pages does not increase with the increase the number of author. We may have a temporary conclusion that " + "\033[1mhaving more than 1 author does not necessarilly result in a longer book on average.\033[0m")

q7: The average number of pages for books written by a single author is 333.3510292524377.
 The average number of pages for books written by two authors is 274.77777777777777.
 The average number of pages for books written by three authors is 277.75.

 Roughly, the average number of pages does not increase with the increase the number of author. We may have a temporary conclusion that having more than 1 author does not necessarilly result in a longer book on average.

<hr style="border: 1px solid #003262;" />

## Q8

In [10]:
q8 = data[data['book_rating'] >= 4].shape[0]

print("\033[31mq8: \033[0m" + f"There are {q8} books that have at least a rating of 4")

q8: There are 596 books that have at least a rating of 4

<hr style="border: 1px solid #003262;" />

## Q9

In [11]:
q9 = data[data['book_rating'] <= 4.5].shape[0]

print("\033[31mq9: \033[0m" + f"There are {q9} books that have at most a rating of 4.5")

q9: There are 1005 books that have at most a rating of 4.5

<hr style="border: 1px solid #003262;" />

## Q10

In [12]:
data['book_rating_discretized'] = data['book_rating'].apply(np.floor).astype(int)

print("\033[31mq10: \033[0m" + f"After discretizing the ratings, the rating looks like below: \n{data['book_rating_discretized']}")

q10: After discretizing the ratings, the rating looks like below:
0       4
1       4
2       4
3       3
4       4
       ..
1136    3
1137    3
1138    3
1139    3
1140    3
Name: book_rating_discretized, Length: 1056, dtype: int64

<hr style="border: 1px solid #003262;" />

## Q11

In [13]:
rating = [1,2,3,4,5]
print("\033[31mq11: \033[0m")

for rate in rating:
    temp = data[data['book_rating_discretized'] == rate]['page_number'].mean()
    print(f"The average number of pages for rating {rate}: {temp}\n")

q11:
The average number of pages for rating 1: nan

The average number of pages for rating 2: 285.3333333333333

The average number of pages for rating 3: 319.10284463894965

The average number of pages for rating 4: 336.11413969335604

The average number of pages for rating 5: 104.22222222222223

<hr style="border: 1px solid #003262;" />

## Q12

In [14]:
rating = [1,2,3,4,5]
print("\033[31mq12: \033[0m")

for rate in rating:
    temp = data[data['book_rating_discretized'] == rate]['book_review_count'].mean()
    print(f"The average number of reviews for rating {rate}: {temp}\n")

q12:
The average number of reviews for rating 1: nan

The average number of reviews for rating 2: 251.33333333333334

The average number of reviews for rating 3: 896.9321663019693

The average number of reviews for rating 4: 916.2879045996593

The average number of reviews for rating 5: 0.7777777777777778

<hr style="border: 1px solid #003262;" />

## Q13

In [15]:
q13 = data.copy()
q13['genres'] = q13['genres'].str.split('\|')
new_data = q13.explode('genres')
new_data = new_data.drop_duplicates(['book_title','genres'])

print("\033[31mq13: \033[0m" + f"After exploding the rows with multiple genres, it is just one row per genre/book without duplicated rows.")
new_data

q13: After exploding the rows with multiple genres, it is just one row per genre/book without duplicated rows.

,book_authors,book_desc,book_edition,book_format,book_isbn,book_pages,book_rating,book_rating_count,book_review_count,book_title,genres,image_url,page_number,book_rating_discretized
0,Kristin Hannah,"Alaska, 1974.Unpredictable. Unforgiving. Untam...",NaN,Kindle Edition,NaN,435 pages,4.33,146505,17438,The Great Alone,Fiction,https://images.gr-assets.com/books/1501852423l...,435,4
0,Kristin Hannah,"Alaska, 1974.Unpredictable. Unforgiving. Untam...",NaN,Kindle Edition,NaN,435 pages,4.33,146505,17438,The Great Alone,Historical,https://images.gr-assets.com/books/1501852423l...,435,4
0,Kristin Hannah,"Alaska, 1974.Unpredictable. Unforgiving. Untam...",NaN,Kindle Edition,NaN,435 pages,4.33,146505,17438,The Great Alone,Historical Fiction,https://images.gr-assets.com/books/1501852423l...,435,4
0,Kristin Hannah,"Alaska, 1974.Unpredictable. Unforgiving. Untam...",NaN,Kindle Edition,NaN,435 pages,4.33,146505,17438,The Great Alone,Audiobook,https://images.gr-assets.com/books/1501852423l...,435,4
0,Kristin Hannah,"Alaska, 1974.Unpredictable. Unforgiving. Untam...",NaN,Kindle Edition,NaN,435 pages,4.33,146505,17438,The Great Alone,Adult Fiction,https://images.gr-assets.com/books/1501852423l...,435,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1140,Nisha Sharma,Winnie Mehta was never really convinced that R...,NaN,Hardcover,9.780000e+12,304 pages,3.64,1322,395,My So-Called Bollywood Life,Young Adult,https://images.gr-assets.com/books/1510586092l...,304,3
1140,Nisha Sharma,Winnie Mehta was never really convinced that R...,NaN,Hardcover,9.780000e+12,304 pages,3.64,1322,395,My So-Called Bollywood Life,Contemporary,https://images.gr-assets.com/books/1510586092l...,304,3
1140,Nisha Sharma,Winnie Mehta was never really convinced that R...,NaN,Hardcover,9.780000e+12,304 pages,3.64,1322,395,My So-Called Bollywood Life,Romance,https://images.gr-assets.com/books/1510586092l...,304,3
1140,Nisha Sharma,Winnie Mehta was never really convinced that R...,NaN,Hardcover,9.780000e+12,304 pages,3.64,1322,395,My So-Called Bollywood Life,Fiction,https://images.gr-assets.com/books/1510586092l...,304,3
1140,Nisha Sharma,Winnie Mehta was never really convinced that R...,NaN,Hardcover,9.780000e+12,304 pages,3.64,1322,395,My So-Called Bollywood Life,Young Adult Contemporary,https://images.gr-assets.com/books/1510586092l...,304,3

<hr style="border: 1px solid #003262;" />

## Q14

In [16]:
avg_pages = new_data.groupby('genres')['page_number'].mean()
med_pages = new_data.groupby('genres')['page_number'].median()

data_genre_pages = pd.DataFrame({"average_pages": avg_pages, "median_pages": med_pages}, index = avg_pages.index)

print("\033[31mq14: \033[0m" + f"The average and median number of pages from different genres are as below:")
data_genre_pages

q14: The average and median number of pages from different genres are as below:

                                average_pages  median_pages
genres
16th Century                       560.000000         560.0
20th Century                       256.000000         256.0
Abandoned                          343.923077         308.0
Abuse                              359.000000         349.0
Academic                           335.833333         329.5
...                                       ...           ...
Young Adult                        359.770833         352.0
Young Adult Contemporary           341.250000         339.5
Young Adult Fantasy                435.363636         400.0
Young Adult Historical Fiction     320.000000         320.0
Young Adult Romance                392.000000         392.0

[267 rows x 2 columns]

<hr style="border: 1px solid #003262;" />

## Q15

In [17]:
avg_rating = new_data.groupby('genres')['book_rating'].mean()
med_rating = new_data.groupby('genres')['book_rating'].median()

data_genre_rating = pd.DataFrame({"average_rating": avg_rating, "median_rating": med_rating}, index = avg_rating.index)

print("\033[31mq15: \033[0m" + f"The average and median rating from different genres are as below:")
data_genre_rating

q15: The average and median rating from different genres are as below:

                                average_rating  median_rating
genres
16th Century                          4.130000          4.130
20th Century                          4.000000          4.000
Abandoned                             3.557692          3.630
Abuse                                 4.395000          4.300
Academic                              4.190000          4.110
...                                        ...            ...
Young Adult                           3.942813          3.940
Young Adult Contemporary              3.770000          3.785
Young Adult Fantasy                   3.937273          3.940
Young Adult Historical Fiction        3.900000          3.900
Young Adult Romance                   3.680000          3.680

[267 rows x 2 columns]